  <div id="background">
    <header>
      <div class="wrapper_wide">
          <a href="#" id="logo">Indian Podcasts</a>
          <nav>
            <ul>
              <li><a href="">Explore</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
      </div>
    </header>
      <div class="wrapper_skinny">
          <h1>Find Your Favorite Podcasts</h1>
            <a href="#" class="button button_higlight">Create a Podcast</a>
            <a href="#" class="button button_white">Explore</a>
      </div>
  </div>

