/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 $white: #FFFFFF;
 $highlight: #d2674e;
 $dark: #22292e;
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic,600italic);
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "home";
 @import "normalize";
 @import "podcasts";

 body {
  font-family: 'Open Sans', sans-serif;
 }


 .wrapper_wide {
  width: 90%;
  margin: 0 auto;
 }

 .wrapper {
  width: 80%;
  margin: 0 auto;
 }

 .wrapper_skinny {
  width: 50%;
  margin: 0 auto;
 }

 .cf:before, .cf:after {
  content: " ";
  display: table;
 }

 .cf:after {
  clear: both;
 }

 .button {
  color: $white;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;

 }

 .button_white {
  background: $white;
   color: $dark;
 }

#main_header {
  color: $dark;
  background: $white;
  padding: 2.5rem 0;
  #logo {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: $dark;
      text-decoration: none;
  }
  nav {
    float: right;
    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline;
        margin-left: 2.5rem;
        a {
          color: $dark;
          text-decoration: none;
        }
      }
    }
  }
}

#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
  h1 {
    text-align: center;
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0px;
    padding: 8rem 0;
  }
}

.podcasts_banner {
  background: url('https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg');
}

.sign_in_banner {
   background: url('https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg');
}

.sign_up_banner {
   background: url('https://dl.dropboxusercontent.com/s/dt4riptzwbe2b4o/paris.jpg');
}
    
.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 2rem 0 5rem 0;
  a, .previous_page, .current, .next_page {
    padding: 0.75rem 1rem;
    margin: 0 .25rem;
    border-radius: .15rem;
    line-height: 1.25;
    text-decoration: none;
    font-weight: .7rem;
    font-style: normal;
    &:hover {
      background: $highlight;
      color: $white;
    }

  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #c0c0c0;
    &:hover {
      color: #c0c0c0;
    }
  }
}
